.header{
    background-color:rgba(0, 0, 0,0.5);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav__logo{
    width: 90px;
    height: 90px;
}

.nav__bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav__link{
    color: #fff;
    text-shadow: 20px 20px 10px yellow;
    transition: 0.3s;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;


}
.nav__link:hover{
    color: purple;
    font-size: 18px;
}
@media screen and (max-width:490px) {
    .nav__link{
        font-size: 14px;

    }
    .nav__bar{
        gap: 20px;
    }
}
@media screen and (max-width:390px) {
    .nav__link{
        font-size: 12px;

    }
    .nav__bar{
        gap: 15px;
    }
}

@media screen and (max-width:360px) {
    .nav__item{
        padding: 5px 0;
    }
    .nav__bar{
        flex-direction: column;
        flex-wrap: wrap;
        height: 90px;
        margin-left: 30px;
    }
    .header__nav{
        justify-content: start;
    }
}